<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{{body}}}
        
        <center>
        <div class="footer"><img src="/images/logo.png" alt="Meadowlark Travel logo"></div>
        <p>Dr. Tunji Adeniran @2023</p>
        </center>
            
    </body>
</html>