<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{{body}}}
        
        <div class="footer"><img src="/images/logo.png" alt="Meadowlark Travel logo"></div>
            
    </body>
</html>